[Desktop Entry]
Name=Disk Utility
Comment=Manage Drives and Media
Exec=palimpsest
Icon=palimpsest
Terminal=false
Type=Application
StartupNotify=true
X-GNOME-DocPath=palimpsest/palimpsest.xml
Categories=GNOME;GTK;Utility;HardwareSettings;Settings;HardwareSettings;
X-Ubuntu-Gettext-Domain=gnome-disk-utility
GenericName=Project-Id-Version: gnome-disk-utility\nReport-Msgid-Bugs-To: \nPOT-Creation-Date: 2012-03-23 18:45+0000\nPO-Revision-Date: 2012-03-23 21:38+0000\nLast-Translator: Bruce Cowan <Unknown>\nLanguage-Team: British English <en@li.org>\nMIME-Version: 1.0\nContent-Type: text/plain; charset=UTF-8\nContent-Transfer-Encoding: 8bit\nPlural-Forms: nplurals=2; plural=n != 1;\nX-Launchpad-Export-Date: 2013-01-28 15:56+0000\nX-Generator: Launchpad (build 16451)\nLanguage: en_GB\n
